<%- include("templates/header") %>
    <%- include("templates/navbar") %>
        <%- include("templates/aside") %>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="container">
                                <a href="/create" class="btn btn-primary mb-2">Nueva Categoria</a>
                                <table class="table" id="categoriesTable">
                                    <thead>
                                        <tr class="bg-primary text-white">
                                            <th scope="col">ID</th>
                                            <th scope="col">NAME</th>
                                            <th scope="col">FECHA DE CREACIÓN</th>
                                            <th scope="col">ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% results.forEach((categorie)=> { %>


                                            <tr>
                                                <th>
                                                    <%= categorie.id %>
                                                </th>
                                                <td>
                                                    <%= categorie.name %>
                                                </td>
                                                <td>
                                                    <%= categorie.created_at %>
                                                </td>
                                                <td><a href="/edit/<%= categorie.id %>" class="btn btn-info">Editar</a>
                                                    <a onclick="confirmation(<%= categorie.id %> );"
                                                        class="btn btn-danger">Eliminar</a>

                                                </td>
                                            </tr>
                                            <% })%>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div><!-- /.container-fluid -->
                </section>
            </div>
            <!-- /.content-wrapper -->
            <%- include("templates/footer") %>